<section class="home-section">

    <div class="container">
        <div class="row">
            The most <span>improving</span> dance from California
        </div>
    </div>

</section>

<section class="what-section">
    <div class="container">
        <div class="row">
            <h1>What is West Coast Swing</h1>

            <p>
                West Coast Swing (WCS) is one of the «Street- & Social Dances» and finds its origin in the Swing-Family.
                Today WCS is a contemporary dance style. Movements of Hip Hop, Zouk, Jazz, Latin, etc. can be integrated
                to it. The dance is performed in a long, narrow area (slottet). The dancers usually don't leave this
                area. The dancers may interpret the music together or independently.The main dynamics is divided into
                2-stroke units and is mainly formed in 6 - and 8-beat rhythms. These can be varied anytime. On dance
                events the partners do a permant partner exchange - that means after almost each song.
            </p>

            <div class="col-xs-6">
                Jeweils am Mittwoch <br/>
                West Coast Swing Kurse im Ateiler Tanz <br/>
                19:30 - Level 1 <br/>
                20:30 - Level 2 <br/>
                21:30 - Level 3 <br/>
            </div>
            <div class="col-xs-6">
                Preise CHF 90,- je Kurs (Level 1-3 4x60min) <br/>
                <br/>
                Studenten <br/>
                CHF 80,- je Kurs (Level 1-3 4x60min)<br/>
                CHF 10,- für Party (CHF 5,- für Kursteilnehmer) <br/>
            </div>
        </div>
    </div>
</section>