<section class="home-section">
    <div id="mycarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>-->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active first"></div>
            <div class="item second"></div>
            <div class="item third"></div>
            <div class="item fourth"></div>
        </div>
    </div>
    <div class="title-cont">
        <img src="/public/images/home/logo.png" alt="West Coast Swing">
    </div>
    <a href="#what" class="arrow bounce"><i class="fa fa-angle-double-down"></i></a>
</section>
<section id="what" class="what-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 wow fadeIn" data-wow-duration="1.5s">
                <h1>What is West Coast Swing?</h1>
                <p>West Coast Swing (WCS) is one of the &laquo;Street- & Social Dances&raquo; and finds its origin in the Swing-Family.
                    Today WCS is a contemporary dance style. Movements of Hip Hop, Zouk, Jazz, Latin, etc. can be integrated
                    to it. The dance is performed in a long, narrow area (slottet). The dancers usually don't leave this
                    area. The dancers may interpret the music together or independently.The main dynamics is divided into
                    2-stroke units and is mainly formed in 6 - and 8-beat rhythms. These can be varied anytime. On dance
                    events the partners do a permant partner exchange - that means after almost each song.</p>
            </div>
        </div>
        <div class="row padding-second-row">
            <div class="col-xs-6 wow fadeInLeft" data-wow-duration="1.5s">Jeweils am Mittwoch
                <br/>West Coast Swing Kurse im Ateiler Tanz
                <br/>19:30 - Level 1
                <br/>20:30 - Level 2
                <br/>21:30 - Level 3
                <br/>
            </div>
            <div class="col-xs-6 wow fadeInRight" data-wow-duration="1.5s">
                <div class="pull-right">Preise CHF 90,- je Kurs (Level 1-3 4x60min)
                    <br/>
                    <br/>Studenten
                    <br/>CHF 80,- je Kurs (Level 1-3 4x60min)
                    <br/>CHF 10,- f&uuml;r Party (CHF 5,- f&uuml;r Kursteilnehmer)
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="where" class="where-section">
    <div id="wcszhmap" class="wow fadeIn" data-wow-duration="1.5s"></div>
</section>
<section id="firsttime" class="firsttime-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 wow fadeIn" data-wow-duration="1.5s">
                <h1>Is it your first time here?</h1>
                <p>West Coast Swing (WCS) is one of the &laquo;Street- & Social Dances&raquo; and finds its origin in the Swing-Family.
                    Today WCS is a contemporary dance style. Movements of Hip Hop, Zouk, Jazz, Latin, etc. can be integrated
                    to it. The dance is performed in a long, narrow area (slottet). The dancers usually don't leave this
                    area. The dancers may interpret the music together or independently.The main dynamics is divided into
                    2-stroke units and is mainly formed in 6 - and 8-beat rhythms. These can be varied anytime. On dance
                    events the partners do a permant partner exchange - that means after almost each song.</p>
            </div>
        </div>
    </div>

    <div class="video-cont video-bg" data-wow-duration="1.5s">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-xs-4 main-circle-container">
                    <div class="circle-container">
                        <div class="outer-circle">
                            <div class="inner-circle" data-info="moreinfo">
                                <div>more info</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 main-circle-container">
                    <div class="circle-container">
                        <div class="outer-circle">
                            <div class="inner-circle" data-info="free">
                                <div>try out FREE</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 main-circle-container">
                    <div class="circle-container">
                        <div class="outer-circle">
                            <div class="inner-circle" data-info="register">
                                <div>register</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 firsttime-info moreinfo">West Coast Swing (WCS) is one of the &laquo;Street- & Social Dances&raquo; and finds its origin in the Swing-Family.
                Today WCS is a contemporary dance style. Movements of Hip Hop, Zouk, Jazz, Latin, etc. can be integrated
                to it. The dance is performed in a long, narrow area (slottet). The dancers usually don't leave this area.
                The dancers may interpret the music together or independently.The main dynamics is divided into 2-stroke
                units and is mainly formed in 6 - and 8-beat rhythms. These can be varied anytime. On dance events the partners
                do a permant partner exchange - that means after almost each song.</div>
            <div class="col-xs-12 firsttime-info free">Free West Coast Swing (WCS) is one of the &laquo;Street- & Social Dances&raquo; and finds its origin in the Swing-Family.
                Today WCS is a contemporary dance style. Movements of Hip Hop, Zouk, Jazz, Latin, etc. can be integrated
                to it. The dance is performed in a long, narrow area (slottet). The dancers usually don't leave this area.
                The dancers may interpret the music together or independently.The main dynamics is divided into 2-stroke
                units and is mainly formed in 6 - and 8-beat rhythms. These can be varied anytime. On dance events the partners
                do a permant partner exchange - that means after almost each song.</div>
            <div class="col-xs-12 firsttime-info register">Register West Coast Swing (WCS) is one of the &laquo;Street- & Social Dances&raquo; and finds its origin in the
                Swing-Family. Today WCS is a contemporary dance style. Movements of Hip Hop, Zouk, Jazz, Latin, etc. can
                be integrated to it. The dance is performed in a long, narrow area (slottet). The dancers usually don't leave
                this area. The dancers may interpret the music together or independently.The main dynamics is divided into
                2-stroke units and is mainly formed in 6 - and 8-beat rhythms. These can be varied anytime. On dance events
                the partners do a permant partner exchange - that means after almost each song.</div>
        </div>
    </div>
</section>
<section id="whatson" class="whatson-section">
    <div class="container">
        <div class="row wow fadeIn">
            <h1>What's on</h1>
            <p>
                Hop, Zouk, Jazz, Latin, etc. can be integrated to it. Tha dance is performed in a long, narrow area (slottet). The dancers usually don't leave this area. The dancers may interpret the music together or independently. The
                main dynamics is divided into 2-stroke units and is mainly formed in 6 - and 8-beat rhythms. These can be
                varied anytime. On dance events the partners do a permanent partner exchange - that means after almost each song.
            </p>
        </div>
        <div class="row wow fadeIn" data-wow-duration="1.5s">
            <img src="/public/images/home/whatson.jpg" alt="Eszter & Gyuri" />
        </div>
    </div>
</section>