<!DOCTYPE html>
<html lang="en" charset="ISO-8859-15">
<head>
    <meta charset="ISO-8859-15">
    <title>WCSZH</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15"/>

    <!-- styles -->
    <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/style.css" rel="stylesheet">

</head>
<body>
<%- body %>
</body>

<script src="/public/lib/jquery/js/jquery.min.js"></script>
<script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>


</html>