.fullScreen {
  height: 100%;
  width: 100%;
  position: absolute;
}
.pictures {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'Myriad Pro';
  background-color: white;
}
a {
  color: #3a4b9d;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #3a4b9d;
  text-decoration: none;
}
p {
  text-align: justify;
}
h1 {
  text-transform: uppercase;
  color: #3a4b9d;
  font-family: 'Franklin Gothic Medium';
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 0px;
}
section,
.video-cont {
  margin: 80px 0;
}
.padding-second-row {
  padding-top: 50px;
}
.blue {
  color: #3a4b9d;
}
header .navbar-default {
  background-color: rgba(153, 153, 153, 0.7);
  border-color: transparent;
}
header .navbar-default .navbar-nav li a {
  color: white;
}
header .navbar-default .navbar-nav li a.active {
  color: #3a4b9d;
}
header .navbar-brand img {
  margin: 15px 0;
  margin-left: -1000px;
  -webkit-transition: margin-left 0.4s ease;
  -moz-transition: margin-left 0.4s ease;
  -ms-transition: margin-left 0.4s ease;
  -o-transition: margin-left 0.4s ease;
  transition: margin-left 0.4s ease;
}
header .navbar-brand img.active {
  margin-left: 10px;
}
header .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
header .navbar .navbar-collapse {
  text-align: center;
}
header ul {
  text-align: center;
}
header ul li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  margin: 15px;
  color: white;
  font-size: 20px;
}
header .nav-animate-in {
  opacity: 1;
  transition: all 0.3s ease 0s;
}
header .nav-animate-out {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.home-section {
  background-size: cover;
  min-height: 100%;
  position: relative;
  padding-top: 0;
  overflow: hidden;
  margin-top: 0;
}
.home-section .carousel {
  height: 100%;
  width: 100%;
  position: absolute;
}
.home-section .carousel.carousel-fade .carousel-indicators .active {
  background-color: #3a4b9d;
}
.home-section .carousel.carousel-fade .carousel-inner {
  height: 100%;
  width: 100%;
  position: absolute;
}
.home-section .carousel.carousel-fade .carousel-inner .item {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
  transition-property: all;
}
.home-section .carousel.carousel-fade .carousel-inner .item:hover {
  -webkit-filter: sepia(0);
  -webkit-filter: sepia(1%);
  -moz-filter: sepia(1%);
  -ms-filter: sepia(1%);
  -o-filter: sepia(1%);
  filter: sepia(1%);
}
.home-section .carousel.carousel-fade .carousel-inner .item.first {
  background: url('/public/images/home/1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section .carousel.carousel-fade .carousel-inner .item.second {
  background: url('/public/images/home/2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section .carousel.carousel-fade .carousel-inner .item.third {
  background: url('/public/images/home/3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section .carousel.carousel-fade .carousel-inner .item.fourth {
  background: url('/public/images/home/4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section .carousel.carousel-fade .carousel-inner .item,
.home-section .carousel.carousel-fade .carousel-inner .active.left,
.home-section .carousel.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.home-section .carousel.carousel-fade .carousel-inner .active,
.home-section .carousel.carousel-fade .carousel-inner .next.left,
.home-section .carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.home-section .carousel.carousel-fade .carousel-inner .next,
.home-section .carousel.carousel-fade .carousel-inner .prev,
.home-section .carousel.carousel-fade .carousel-inner .active.left,
.home-section .carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.home-section .carousel.carousel-fade .carousel-control {
  z-index: 2;
}
.home-section .title-cont {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: rgba(153, 153, 153, 0.7);
  opacity: 1;
  text-align: center;
  padding: 20px 30px 20px 30px;
  width: auto;
  transition: width 0.4s ease, padding-right 0.4s ease;
}
.home-section .title-cont.loaded {
  width: 0px;
  padding: 0px;
}
.where-section {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: filter 2s, -webkit-filter 2s;
  -moz-transition: filter 2s, -webkit-filter 2s;
  -ms-transition: filter 2s, -webkit-filter 2s;
  -o-transition: filter 2s, -webkit-filter 2s;
  transition: filter 2s, -webkit-filter 2s;
}
.where-section #wcszhmap {
  width: 100%;
  height: 500px;
}
.where-section:hover {
  -webkit-filter: grayscale(1%);
  filter: grayscale(1%);
}
.firsttime-section .video-cont {
  position: relative;
  overflow: hidden;
  display: block;
  height: 400px;
  width: 100%;
  padding: 110px 0;
  margin-bottom: 0;
}
.firsttime-section .video-cont video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1000;
  -webkit-filter: sepia(50%) brightness(30%);
  -moz-filter: sepia(50%) brightness(30%);
  -ms-filter: sepia(50%) brightness(30%);
  -o-filter: sepia(50%) brightness(30%);
  filter: sepia(50%) brightness(30%);
  -webkit-transition: filter 2s, -webkit-filter 2s;
  -moz-transition: filter 2s, -webkit-filter 2s;
  -ms-transition: filter 2s, -webkit-filter 2s;
  -o-transition: filter 2s, -webkit-filter 2s;
  transition: filter 2s, -webkit-filter 2s;
}
.firsttime-section .video-cont video:hover {
  -webkit-filter: sepia(0);
  -webkit-filter: sepia(1%);
  -moz-filter: sepia(1%);
  -ms-filter: sepia(1%);
  -o-filter: sepia(1%);
  filter: sepia(1%);
}
.firsttime-section .video-cont.video-bg {
  background: url('/public/images/home/videoBg.jpg') no-repeat;
  background-size: cover;
}
.firsttime-section .main-circle-container {
  z-index: 1000;
  transition: opacity 0.5s;
}
.firsttime-section .main-circle-container.active {
  z-index: 3000;
}
.firsttime-section .main-circle-container.not-active {
  opacity: 0.2;
}
.firsttime-section .circle-container {
  display: table;
  margin: auto;
  cursor: pointer;
}
.firsttime-section .circle-container .outer-circle {
  background-color: white;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 0px 10px 1px #999999;
}
.firsttime-section .circle-container .outer-circle .inner-circle {
  width: 150px;
  height: 150px;
  background-color: #3a4b9d;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  display: table;
}
.firsttime-section .circle-container .outer-circle .inner-circle div {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 25px;
}
.firsttime-section .firsttime-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  display: none;
  padding-right: 30px;
  box-shadow: 0px 0px 15px 5px #999999;
  margin-top: -100px;
  z-index: 2000;
  background-color: white;
}
.whatson-section img {
  margin-top: 20px;
  width: 100%;
}
footer {
  background: #999999;
  padding: 30px;
  color: white;
  margin-top: 60px;
}
/*MEDIA QUERIES*/
@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 994px) {
  header .navbar-brand img {
    width: 200px;
    margin-top: 7px;
  }
  .nav > li,
  header ul li {
    margin: 5px;
  }
}
@media (max-width: 768px) {
  header .navbar-brand img {
    width: 200px;
    margin-top: 0px;
  }
  .nav > li,
  header ul li {
    margin: 5px;
  }
}
@media (max-width: 640px) {
  .title-cont img {
    width: 250px;
  }
  footer img {
    width: 80px;
  }
  .firsttime-section .video-cont {
    padding: 60px 0;
    height: 200px;
  }
  .firsttime-section .circle-container .outer-circle {
    width: 90px;
    height: 90px;
  }
  .firsttime-section .circle-container .outer-circle .inner-circle {
    width: 80px;
    height: 80px;
  }
  .firsttime-section .circle-container .outer-circle .inner-circle div {
    font-size: 17px;
  }
  .firsttime-section .firsttime-info {
    margin-top: -20px;
  }
}
/*MEDIA QUERIES*/
