@blue: #3a4b9d;
@gray: #999999;

.fullScreen{
  height: 100%;
  width: 100%;
  position: absolute;
}

.pictures{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  //font-family: Roboto, sans-serif;
  //font-family: 'Myriad Pro';
  font-family: 'Myriad Pro';
  background-color: white;
}

a {
  color: @blue;
  text-decoration: none;
  
  &:hover{
    text-decoration: none;
  }
  
  &:visited{
    color: @blue;
    text-decoration: none;
  }
}

p {
  text-align: justify;
}

h1 {
  text-transform: uppercase;
  color: @blue;
  //font-family: 'Lane', sans-serif;
  font-family: 'Franklin Gothic Medium';
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 0px;
}

section,
.video-cont {
  margin: 80px 0;
}

.padding-second-row {
  padding-top: 50px;
}

.blue {
  color: @blue;
}

header {
  .navbar-default {
    background-color: rgba(153, 153, 153, 0.7);
    border-color: transparent;

    .navbar-nav{
      li{
        a{
          color: white;

          &.active{
            color: @blue;
          }
        }
      }
    }
  }

  .navbar-brand {
    img {
      margin: 15px 0;
      margin-left: -1000px;
      -webkit-transition: margin-left 0.4s ease;
      -moz-transition: margin-left 0.4s ease;
      -ms-transition: margin-left 0.4s ease;
      -o-transition: margin-left 0.4s ease;
      transition: margin-left 0.4s ease;

      &.active{
        margin-left: 10px;
      }
    }
  }

  .navbar {

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  ul {
    text-align: center;

    li {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      margin: 15px;
      color: white;
      font-size: 20px;
    }
  }

  .nav-animate-in {
    opacity: 1;
    transition: all 0.3s ease 0s;
  }

  .nav-animate-out {
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
}

.home-section {
  background-size: cover;
  min-height: 100%;
  position: relative;
  padding-top: 0;
  overflow: hidden;
  margin-top: 0;
  
  .carousel{
    .fullScreen;
    
    &.carousel-fade {
      
      .carousel-indicators{
        
        .active{
          background-color: @blue;
        }
      }
      
      .carousel-inner {
        .fullScreen;
        
          .item {
              .fullScreen;
        
              -webkit-filter: sepia(1);
              -webkit-filter: sepia(100%);
              -moz-filter: sepia(100%);
              -ms-filter: sepia(100%);
              -o-filter: sepia(100%);
              filter: sepia(100%);

              transition-property: all;
              
              &:hover{
                -webkit-filter: sepia(0);
                -webkit-filter: sepia(1%);
                -moz-filter: sepia(1%);
                -ms-filter: sepia(1%);
                -o-filter: sepia(1%);
                filter: sepia(1%);   
              }
              
              &.first{
                background: url('/public/images/home/1.jpg');
                .pictures;
              }
              
              &.second{
                background: url('/public/images/home/2.jpg');
                .pictures;
              }
              
              &.third{
                background: url('/public/images/home/3.jpg');
                .pictures;
              }
              
              &.fourth{
                background: url('/public/images/home/4.jpg');
                .pictures;
              }
          }
          
          .item,
          .active.left,
          .active.right {
              opacity: 0;
          }
  
          .active,
          .next.left,
          .prev.right {
              opacity: 1;
          }
  
          .next,
          .prev,
          .active.left,
          .active.right { 
              left: 0;
              transform: translate3d(0, 0, 0);
          }
      }
  
        .carousel-control {
            z-index: 2;
        }
    }
  }
  
  .title-cont{
    position: absolute;
    right: 0;
    top: 100px;
    background-color: rgba(153, 153, 153, 0.7);    
    opacity: 1;
    text-align: center;
    padding: 20px 30px 20px 30px;
    width: auto;
    transition: width 0.4s ease, padding-right 0.4s ease;
    
    &.loaded{
      width: 0px;
      padding: 0px;
    }
  }
  
  .fa {
   width: 60px;
   display: block;
   text-align: center;
   color: @blue;
   font:normal 45px 'FontAwesome';
   line-height:60px;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
  }
  .fa-angle-double-down:before {content: "\f103";}
   
  .bounce {
   position: absolute;
   bottom: 30px;
   left: 50% ;
   width: 60px;
   height: 60px ;
   margin-left:-30px;
   border: 2px solid @blue;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   border-radius:50%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   -moz-animation: bounce 2s infinite;
   -o-animation: bounce 2s infinite;
  }
   
  @-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
   40% {-webkit-transform: translateY(-30px);}
   60% {-webkit-transform: translateY(-15px);}
  }
   
  @-moz-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
   40% {-moz-transform: translateY(-30px);}
   60% {-moz-transform: translateY(-15px);}
  }
   
  @-o-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
   40% {-o-transform: translateY(-30px);}
   60% {-o-transform: translateY(-15px);}
  }
  @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-30px);}
   60% {transform: translateY(-15px);}
  }
}

.where-section {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-transition: filter 2s, -webkit-filter 2s;
  -moz-transition: filter 2s, -webkit-filter 2s;
  -ms-transition: filter 2s, -webkit-filter 2s;
  -o-transition: filter 2s, -webkit-filter 2s;
  transition: filter 2s, -webkit-filter 2s;

  #wcszhmap {
    width: 100%;
    height: 500px;
  }

  &:hover {
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);
  }

}

.firsttime-section {
  .video-cont{
    position: relative;
    overflow:hidden;
    display:block;
    height: 400px;
    width: 100%;
    padding: 110px 0;
    margin-bottom: 0;
    
    video{
      position: absolute; 
      top: 0; 
      left:0;
      width: 100%; 
      height: auto;
      z-index: -1000;
      
      -webkit-filter: sepia(50%) brightness(30%);
      -moz-filter: sepia(50%) brightness(30%);
      -ms-filter: sepia(50%) brightness(30%);
      -o-filter: sepia(50%) brightness(30%);
      filter: sepia(50%) brightness(30%);

      -webkit-transition: filter 2s, -webkit-filter 2s;
      -moz-transition: filter 2s, -webkit-filter 2s;
      -ms-transition: filter 2s, -webkit-filter 2s;
      -o-transition: filter 2s, -webkit-filter 2s;
      transition: filter 2s, -webkit-filter 2s;
      
      &:hover{
        -webkit-filter: sepia(0);
        -webkit-filter: sepia(1%);
        -moz-filter: sepia(1%);
        -ms-filter: sepia(1%);
        -o-filter: sepia(1%);
        filter: sepia(1%);   
      }
    }
    
    &.video-bg{
      background: url('/public/images/home/videoBg.jpg') no-repeat;
      background-size: cover; 
    }
  }
  
  .main-circle-container {
    z-index: 1000;
    transition: opacity 0.5s;
    
    &.active{
      z-index: 3000;      
    }
    
    &.not-active{
      opacity: 0.2;      
    }
  }

  .circle-container {
    display: table;
    margin: auto;
    cursor: pointer;
    
    .outer-circle {
      background-color: white;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      box-shadow: 0px 0px 10px 1px @gray;

      .inner-circle {
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: @blue;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        display: table;

        div {
          display: table-cell;
          vertical-align: middle;
          color: white;
          font-size: 25px;
        }
      }
    }
  }

  .firsttime-info {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: none;
    padding-right: 30px;
    box-shadow: 0px 0px 15px 5px @gray;
    margin-top: -100px;
    z-index: 2000;
    background-color: white;

  }
}


.whatson-section {
  img{
    margin-top: 20px;
    width: 100%;
  }
}

footer {
  background: #999999;
  padding: 30px;
  color: white;
  margin-top: 60px;
}

/*MEDIA QUERIES*/

// @media (min-width: 768px){
//   .navbar-nav>li {
//     margin: 5px;
//   }
//   
//   header .navbar-brand img{
//     width: auto;
//   }
// }
// 
// @media (min-width: 360px){
//   header .navbar-brand img{
//     width: 200px;
//     margin-top: 0px;
//   }
// 
// }

@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 994px) {
  header .navbar-brand img{
    width: 200px;
    margin-top: 7px;
  }
  
  .nav>li,
  header ul li {
     margin: 5px;
   }
}

@media (max-width: 768px) {
  header .navbar-brand img{
    width: 200px;
    margin-top: 0px;
  }
  
  .nav>li,
  header ul li {
     margin: 5px;
   }
}

@media (max-width: 640px){
  .title-cont{
      img{ 
        width: 250px;
      }
    }
    
    footer{
      img{
        width: 80px;
      }
    }
    
    .firsttime-section {
      
      .video-cont{
        padding: 60px 0;
        height: 200px;
      }
      
      .circle-container{
        .outer-circle{
          width: 90px;
          height: 90px;
          
          .inner-circle{
            width: 80px;
            height: 80px;
            
            div{
              font-size: 17px;
            }
          }           
         }
      }
      
      .firsttime-info{
        margin-top: -20px;
      }
      
    }
}
// @media (max-height: 600px) {
//     
// }
/*MEDIA QUERIES*/