@blue: #3a4b9d;
@gray: #999999;

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  //font-family: Roboto, sans-serif;
  font-family: 'Myriad Pro';
  background-color: white;
}

a {
  color: #00B7FF;
}

p {
  text-align: justify;
}

h1 {
  text-transform: uppercase;
  color: @blue;
  //font-family: 'Lane', sans-serif;
  font-family: 'Franklin Gothic Medium';
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 32px;
  margin-bottom: 40px;
}

section {
  padding: 60px 0;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  background: #000000;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
}

.padding-second-row {
  padding-top: 50px;
}

.blue{
  color: @blue;
}

.home-section {
  background: url('/public/images/home/home.jpg') no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;

  .container {
    .row {
      .home-text {
        position: absolute;
        margin: auto;
        max-width: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 30px;
        letter-spacing: 0.1em;
        top: 70%;

        .highlight{
          margin: 0 20px;
        }
      }
    }
  }
}

.whatson-section {
  h1 {
    text-align: left;
    margin-bottom: 100px;
    margin-top: 0;
  }

  img {
    float: right;
  }

  p {
    max-width: 200px;
  }

}

.where-section {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  //-webkit-transition: filter 0.4s, -webkit-filter 0.4s;
  //-moz-transition: filter 0.4s, -webkit-filter 0.4s;
  //-ms-transition: filter 0.4s, -webkit-filter 0.4s;
  //-o-transition: filter 0.4s, -webkit-filter 0.4s;
  transition: filter 2s, -webkit-filter 2s;

  #wcszhmap {
    width: 100%;
    height: 500px;
  }

  &:hover {
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);
  }

}

.what-section {
  padding-top: 80px;
}

.firsttime-section{
  .col-xs-4{
    z-index: 999999;
  }

  .circle-container{
    display: table;
    margin: auto;
    cursor: pointer;

    .outer-circle{
      background-color: white;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      box-shadow: 0px 0px 10px 1px @gray;

      .inner-circle{
        width: 200px;
        height: 200px;
        text-align: center;
        background-color: @blue;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        display: table;

        div{
          display: table-cell;
          vertical-align: middle;
          color: white;
          font-size: 30px;
        }
      }
    }
  }

  .firsttime-info{
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 30px;
    display: none;
    padding-right: 30px;
    box-shadow: 0px 0px 15px 5px @gray;
    margin-top: -70px;

  }
}

footer {
  background: #999999;
  padding: 30px 0;
  color: white;
  margin-top: 60px;
}